body {
    background-color: lightgrey;
}

a:link {
    color: black;
    text-underline: 1px solid black;
}

a:visited {
    color: grey;
}

a:hover {
    color: darkslateblue;
}

a:active {
    color: darkslateblue;
}

.phoebe {
    width: 450px;
    height: 600px;
    display: block;
    margin: auto;
}

h3, h4, h5, p, li, a, h1, h2 {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    padding-right: 9px;
}